.main-screen{
    display: inline-block;
    width: 1300px;
    height: 800px;
    margin-left: calc(50% - 650px);
    background: url(../img/Board-desert.jpg);
    background-size: cover;
    background-position-y: -85px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
}
    .main-screen > .game{
        display: inline-block;
        width: 900px;
        margin-left: calc(50% - 450px);
        user-select: none;
        text-align: center;
        position: relative;
        margin-top: 20px;
        
    }
        .field{
            display: inline-block;
            width: 100%;
            height: 150px;
            text-align: center;
            margin: 5px 0;
        }

        .main-screen > .game > .enemy-field{
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 190px;
            /* border: solid 7px rgb(177, 20, 20); */
            text-align: center;
            top: 120px;
            left: 0;;
        }
/* .game > .field > .card-slot{
    display: inline-block;
    width: 120px;
    margin: 0 2px;
    height: 100%;
    border: 1px solid blue;
} */


.game > .field.player-field{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 190px;
    /* border: 1px solid rgb(255, 0, 13); */
    text-align: center;
    overflow: hidden;
    top: 310px;
    left: 0;
    overflow: visible;
}
.game > .field.player-hand{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 160px;
    border: 1px solid cyan;
    text-align: center;
    overflow: hidden;
    top: 610px;
    left: 0;
}

/* 
    .choose-card{
    position: absolute;
    top: 330px;
    left:0;
    z-index:2;
    background-color:rgba(0, 0, 255, 0.459);
    display: inline-block;
    width: 100%;
    height: 150px;
    border: solid 2px black;
    text-align: center;
    border-radius: 10px;
} */
/* .battlefield{
    position: relative;
}
.battlefield::after{
    position: absolute;
    content: "Battlefield";
    top: 40px;
    left: 320px;
    font-size: 50px;
    width: 250px;
    height: 50px;
    color: rgba(0, 0, 0, 0.527);
    z-index: -2
} */

.shop{}
.shop::after{
    position: absolute;
    content: "Shop";
    top: 40px;
    left: 320px;
    font-size: 50px;
    width: 250px;
    height: 50px;
    color: rgba(0, 0, 0, 0.315);
    z-index: -2 ;
}

.hand{
    position: relative;
}
.hand::after{
    position: absolute;
    content: "Your hand";
    top: 40px;
    left: 320px;
    font-size: 50px;
    width: 250px;
    height: 50px;
    color: rgba(0, 0, 0, 0.315);
    z-index: -2 ;
}



.hidden{
    visibility: hidden;
}
.unhidden{
    visibility: unset;
}
.animation{
    margin-top: -20px;
    transition: all 0.5s;
}
.mana{
    position: absolute;
    display: inline-block;
    bottom: 185px;
    right: 390px;
    width: 160px;
    height: 50px;
    line-height: 20px;
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
    border: 3px solid red;
}

.deathrattle{
    display: inline-block;
    background-color: yellow;
}
.deathrattle::after{
    content: "";
    position: absolute;
    top: 0;
    left: -3px;
    width: 135px;
    height: 187px;
    border-radius: 30px;
    border: 5px solid rgba(59, 59, 57, 0.198);
    background-color: rgba(31, 31, 28, 0.281);
    z-index: 1;
    overflow: visible;
}

.shield{
    display: inline-block;
    width: 135px;
    height: 187px;
    overflow: hidden;
    position: relative;
    overflow: visible;
}


.shield::after{
    content: "";
    position: absolute;
    top: 0;
    left: -3px;
    width: 135px;
    height: 187px;
    border-radius: 30px;
    border: 5px solid rgba(206, 206, 15, 0.198);
    background-color: rgba(255, 255, 0, 0.527);
    z-index: 1;
    overflow: visible;
}
.shield::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 35px;
    width: 60px;
    height: 87px;
    border-radius: 30px;
    border: 5px solid rgba(228, 228, 8, 0.137);
    background-color: rgba(255, 255, 0, 0.192);
    z-index: 1;
    overflow: visible;
}
.lost-screen{
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 160px;
    color: white;
    padding-top: 20vh;
    z-index: 5;
}
