.card{
    display: inline-block;
    width: 135px;
    height: 187px;
    background: url(../img/Cards/alleycat.png);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0 3px;
    z-index: 1;
}
    
    .card-description{
        display: flex;
        position: absolute;
        top: 115px;
        left: 16px;
        width: 108px;
        height: 55px;
        justify-content: center;
        align-items: center;
        vertical-align: center;
        font-size: 14px;
        line-height: 15px;
        font-weight: 800;
    }
    .card > .card-footer{
        display: inline-block;
        height: 30px;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        
    }
        .card > .card-footer > .stat-box{
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
        .card-footer > .stat-box.attack{
            display: inline-block;
            position: absolute;
            left: 15px;
            bottom: 4px;
            z-index: 1;
        }
        .card-footer > .stat-box.defence{
            display: inline-block;
            position: absolute;
            right: 8px;
            bottom: 4px;
            z-index: 1;
        }

.animation{
    margin-top: -20px;
    transition: all 0.5s;
}
.animationReverse{
    margin-top: 20px;
    transition: all 0.5s;
}
.red-text{
    color: red !important;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0  black, -1px 1px 0 black;
}
.green-text{
    color: rgb(51, 170, 15) !important;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0  black, -1px 1px 0 black;
}

.hit-animation{
    animation-name: hit;
    animation-duration: 0.5s;
}
@keyframes hit{
    0%{
        transform: translateX(0);
        transform: translateY(0);
    }
    25%{
       
        transform: translateY(-10px);
    }
    26%{
        transform: translateX(-25px);
    }
    50%{
        transform: translateX(0);
        transform: translateY(0);
    }
    75%{
        
        transform: translateY(10px);
    }
    76%{
        transform: translateX(25px);
    }
    100%{
        transform: translateX(0);
        transform: translateY(0);
    }
}

.hero-damage-animation{

}

.hero-damage-animation::after{
    content: '';
    position: absolute;
    left: 5px;
    top: 0px;
    width: 33px;
    /* height: -0px; */
    border: 50px solid transparent;
    border-top: 70px solid rgba(173, 35, 35, 0.596);
    animation: linear forwards;
    animation-name: hero-damage;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes hero-damage{
    0%{
        border-top: 70px solid rgba(173, 35, 35, 0.596);
        top: -120px;
        width: 33px;
        left: -10px;
    }
    100%{
        border-top: 270px solid rgba(173, 35, 35, 0.596);
        top: -320px;
        width: 0px;
        left: 10px;
    }
}

.enemy-damage-animation{
    position: relative;
    transform: rotate(180deg);
}

.enemy-damage-animation::after{
    content: '';
    position: absolute;
    left: 60px;
    top: 0px;
    width: 33px;
    /* height: -0px; */
    border: 50px solid transparent;
    border-top: 70px solid rgba(173, 35, 35, 0.596);
    animation: linear forwards;
    animation-name: enemy-damage;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes enemy-damage{
    0%{
        border-top: 70px solid rgba(173, 35, 35, 0.596);
        top: 0px;
        width: 33px;
        left: -110px;
    }
    100%{
        border-top: 270px solid rgba(173, 35, 35, 0.596);
        top: -200px;
        width: 0px;
        left: -95px;
    }
}
.deathrattle{
    display: inline-block;
}
.deathrattle::after{
    content: "";
    position: absolute;
    top: 0;
    left: -3px;
    width: 135px;
    height: 187px;
    border-radius: 30px;
    border: 5px solid rgba(59, 59, 57, 0.198);
    background-color: rgba(31, 31, 28, 0.281);
    z-index: 1;
    overflow: visible;
}
.deathrattle::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 35px;
    width: 60px;
    height: 87px;
    border-radius: 30px;
    border: 5px solid rgba(29, 29, 14, 0.137);
    background-color: rgba(31, 31, 27, 0.192);
    z-index: 1;
    overflow: visible;
}

.shield{
    display: inline-block;
    width: 135px;
    height: 187px;
    overflow: hidden;
    position: relative;
    overflow: visible;
}


.shield::after{
    content: "";
    position: absolute;
    top: 0;
    left: -3px;
    width: 135px;
    height: 187px;
    border-radius: 30px;
    border: 5px solid rgba(206, 206, 15, 0.198);
    background-color: rgba(255, 255, 0, 0.527);
    z-index: 1;
    overflow: visible;
}
.shield::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 35px;
    width: 60px;
    height: 87px;
    border-radius: 30px;
    border: 5px solid rgba(228, 228, 8, 0.137);
    background-color: rgba(255, 255, 0, 0.192);
    z-index: 1;
    overflow: visible;
}

.player-hand >.card:hover{
    margin-top: -50px;
    overflow: visible;

}
.taunt{
    position: relative;
   
}
.taunt::before{
    content: "";
    position: absolute;
    top: -120px;
    left: -20px;
    height: 0;
    border-bottom: 200px solid rgba(126, 119, 25, 0.288);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 100px;
    border-radius: 5px;
    
}
.taunt::after{
    content: "";
    position: absolute;
    top: -80px;
    left: 0px;
    height: 0;
    border-bottom: 100px solid rgba(126, 119, 25, 0.301);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 50px;
    border-radius: 5px;
}

.aoeDmg{
    position: relative;
}
.aoeDmg::before{
    content: "";
    position: absolute;
    top: -80px;
    left: -65px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 10px solid red;
    animation-duration: 0.4s;
    animation-iteration-count: 3;
    animation-name: aoe;
    animation-fill-mode: forwards;
    opacity: 0
}
.aoeDmg::after{
    content: "";
    position: absolute;
    top: -80px;
    left: -65px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 10px solid red;
    animation-duration: 0.4s;
    animation-iteration-count: 3;
    animation-name: aoe;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0
}
@keyframes aoe{
    0%{
        width: 40px;
        height: 40px;
        top: -80px;
        left: -65px;
        opacity: 1;
    }
    100%{
        width: 1040px;
        height: 1040px;
        top: -580px;
        left: -565px;
        opacity: 0;
    }
}

.gives1a1de{
 
}

.gives1a1de:before{
    content: '';
    position: absolute;
    height: 190px;
    width: 140px;
    top: -150px;
    left: -100px;
    background-color: rgba(12, 134, 12, 0.76);
    border-radius: 10px;
    animation-name: moveRight;
    animation-fill-mode: forwards;
    animation-duration: 0.35s;
    animation-iteration-count: 3;
    z-index : 5
}

.gives1a1de:after{
    content: '';
    position: absolute;
    height: 190px;
    width: 140px;
    top: -150px;
    left: -120px;
    background-color: rgba(12, 134, 12, 0.76);
    border-radius: 10px;
    animation-name: moveLeft ;
    animation-fill-mode: forwards;
    animation-duration: 0.35s;
    animation-iteration-count: 3;
    z-index : 5}

@keyframes moveLeft{
    0%{
    left: -120px;
    opacity: 1;
    }
    100%{
        left: -620px;
        opacity: 0;
    }
}
@keyframes moveRight{
    0%{
    left: -120px;
    opacity: 1;
    }
    100%{
        left: 500px;
        opacity: 0;
    }
}


.class-box.hit{
    content: "";
    position: absolute;
    display: flex;
    padding-top: 25px;
    padding-left: 30px;
    top: -110px;
    left: 30px;
    width: 80px;
    height: 90px;
    background-repeat: no-repeat;
    background-image: url(../img/hit.png);
    background-size: contain;
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0  black, -1px 1px 0 black;
    z-index: 3;
}

.hp-hit-box-top.hit{
    content: "";
    position: absolute;
    display: flex;
    padding-top: 45px;
    padding-left: 40px;
    top: -10px;
    left: -30px;
    width: 120px;
    height: 1000px;
    background-repeat: no-repeat;
    background-image: url(../img/hit.png);
    background-size: contain;
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0  black, -1px 1px 0 black;
    z-index: 3;
}

.hp-hit-box-bottom.hit{
    content: "";
    position: absolute;
    display: flex;
    padding-top: 45px;
    padding-left: 40px;
    top: -10px;
    left: -30px;
    width: 120px;
    height: 1000px;
    background-repeat: no-repeat;
    background-image: url(../img/hit.png);
    background-size: contain;
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0  black, -1px 1px 0 black;
    z-index: 3;
}
/* .hp-hit-box-top{
    height: 1;
    width: 1;
}

.hp-hit-box-bottom{
    height: 1;
    width: 1;
} */